#title {
    font-family: 'Amatic Sc';
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    font-style: normal;
    margin: 40px;
}


.p {
    font-family: 'Anaheim';
    font-size: 23px;
    margin: 50px auto;
    width: 470px;
    box-sizing: border-box;
    border-style: double;
    border-width: 5px;
    border-color: rgb(227, 239, 250);
    border-radius: 16px;
    padding: 20px 30px 10px;
}

.links {
    list-style:circle;
    font-size: 20px;
    padding-left: 90px;
}

.links li {
    margin-bottom: 8px;
    
}

  
.logo {
    margin: 120px auto 5px;
    display: block;
    opacity: 0.6;
}


/* webpages why*/
.page {
    margin: 0 auto;
    width: 600px;
}

.head{
    font-family: 'Amatic SC';
    font-size: 80px;
    font-weight: 500;
    margin: 53px auto 5px;

}

.foodpic {
    margin-top: 5px;
    margin-bottom: 30px;
    display: block;
    opacity: 0.7;


}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px ;
    background-color: rgb(227, 239, 250);
    font-weight: 100;
    padding: 4px;
    margin-bottom: 10px;
    margin-top: 25px;
    
}

.desc,
.text,
ol {
    font-family: 'Anaheim';
    font-size: 18px;
    
}

.text,
ol {
    margin-bottom: 5px;
}

.text {
    padding-left: 18px;
    list-style: disc;
}

ol {
    padding-left: 16.578px;
    
}


.logo#home {
    margin: 60px auto 10px;
}


