body{
    

}

#title {
    font-family: 'Amatic Sc';
    text-align: center;
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    margin: 30px;

    /* margin-top: 40px; */
    
}

/* .img{
    text-align: center;
    
}

.img.back{
    background-color: rgba(192, 228, 180, 0.849);

} */



.p{
    font-family: 'Anaheim';
    font-size: 23px;
    margin: auto;
    width: 470px;
    box-sizing: border-box;
    border-style: double;
    border-width: 5px;
    border-color: rgb(227, 239, 250);
    padding: 20px 30px 10px;

    

}

ul {
    list-style: none;
    font-size: 20px;
}

ul li {
    margin-bottom: 5px;
    padding-left: 100px;
}

      
      
     

}

.bon{
    margin: 0px auto;
}


/* webpages why*/

.head{
    font-family: 'Amatic SC';
    font-size: 80px;
    font-weight: 500;

}


h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size:25px ;
    background-color: bisque;
    
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

h5{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


